complex-social-networks/csn.pro.user
csn-debug/
csn-release/
csn-profile/

path-finding/path-finding.pro.user
path-finding-debug/
path-finding-release/
path-finding-profile/

graphs-driver/graph-driver.pro
graphs-driver-debug/
graphs-driver-release/
graphs-driver-profile/
